
  <%- layout("/layouts/boilerplate") %>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
    <form method="POST" action="/listings">
      <h2 class="my-2">Enter Details</h2>
      <div class="my-1">
        <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required />
      </div>
      <div class="my-1">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        rows="2"
        cols="23"
        placeholder="Enter Description"
        class="form-control"
      ></textarea>
      </div> 
      <div class="my-1">
        <label for="image" class="form-label">Image</label>
         <input name="listing[image][url]" placeholder="Put image/URL" type="text" class="form-control" />
      </div>
      <div class="row">
        <div class="my-2 col-md-4">
         <label for="price" class="form-label">Price</label>
      <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control"/>
      </div>
      <div class="my-2 col-md-8">
 <label for="location" class="form-label">Location</label>
      <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control"/>
      </div>
      </div>
      <div class="my-1">
  <label for="country" class="form-label">Country</label>
      <input name="listing[country]" placeholder="Enter Country" type="text"  class="form-control"/>
      </div>
      <button class="btn btn-primary my-2" type="submit">Add</button>
    </form>
    </div>
    </div>
  </body>
